.edit-btn {
    display: inline-flexbox;
    width: auto;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #0c4a60;
    color: #ef6c33;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    background-color: #e1dddb;
  }